.sidebar{
    min-height: 100%;
}
.bg-custom{
    background-color: #68ab77;
}

.navbar-nav{
    display: flex;
}
.filter-verdi{
    filter: invert(63%) sepia(13%) saturate(1119%) hue-rotate(81deg) brightness(94%) contrast(87%);
}